################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/projectT/FileContentIndex/55fc4cc6-5915-45da-bc60-528bc986955b.vsidx
/.vs/projectT/FileContentIndex/16c813a6-5dcb-4207-8179-240b0ebd771d.vsidx
/.vs/projectT/FileContentIndex/fa7f1ccb-11ef-4d8b-ae3e-8e8592313a11.vsidx
/.vs/projectT/FileContentIndex/0ddfe690-58fc-46f4-9751-3b99290fbd69.vsidx
/.vs/projectT/v17/DocumentLayout.json
/.vs/projectT/v17/.suo
/packages/RestSharp.106.15.0/lib/net452/RestSharp.dll
