################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/projectT/FileContentIndex/55fc4cc6-5915-45da-bc60-528bc986955b.vsidx
/.vs/projectT/FileContentIndex/16c813a6-5dcb-4207-8179-240b0ebd771d.vsidx
